button {
  height: 64;
  width: 64;
  layout: vertical;
  fill-width: true;
  padding: 16;
  background: #424141;
  
}

button:hover {
  background: #626262;
}

button:active {
  background: #262525;
}

button text {
  align: middle middle;
  color: #fff;
}
